html{
	background-color: gray;
}

body{
    background-color: white;
    color: black;
    width: 1100px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
	font-family: arial;
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: 100!important;
}

header{
	position: fixed;
	vertical-align: middle;
	display: table-cell;
	z-index: 60;
	color: white;
	background-color: #011942;
	height: 65px;
	width: 1100px;
}

header > img{
	display: inline;
}

header > span{
	font-size: 22px;
	display: table-cell;
	vertical-align: middle;
	border-radius: 7px;
	padding: 10px;
	font-weight: 100;
	margin: 0px 20px;
}

header > span:hover{
	background-color: #060F1E;
}

ul{
	color: #0B60C6;
	list-style-type: none;
}

li{
	/*padding-bottom: 10px;*/
	margin-top: 10px;
}

span{	
	/*padding-top: 10px;*/
}

li:before{
content: "";
}

li > a{
	font-size: 12px;
	color: gray;
	border: solid #C1C1C1 1px;
	border-radius: 7px;
	padding: 3px;
}

.active-job-title{
	color: white;
	background-color: #0B60C6;
}

.top-section{
	padding-top: 65px;
}

.top-section > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bottom-section{
	height: 800px;
	clear: both;
	border-top: solid #C1C1C1 18px;
	background-color: white;
	position: relative;
}

.left-bottom-content{
	display: inline;
	width: 630px;
	padding: 8px;
	float: left;
}

.right-bottom-content{
	display: inline;
	width: 430px;
	height: 800px;
	padding: 10px;
	float: right;
	background-color: #F2F2F2;
}

.employee-profile{
	width: 44%;
	display: inline;
	float: left;
}

.employee-profile > img{
	display: inline;
	width: 40%;
}

.employee-description{
	display: inline;
	float: right;
	width: 59%;
}

.good-guy{
	float: left;
}

.bad-guy{
	float: right;
}
