body{
    background-color: white;
    color: black;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#header{
	position: initial;
}

.top-section{
	padding-top: 65px;
	border-bottom: solid gray 18px;
}

.top-section > img{
	/*width: 115%;*/
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.bottom-section{

}

.left-bottom-content{
	display: inline;
	width: 60%;
	float: left;
}

.right-bottom-content{
	display: inline;
	width: 30%;
	float: right;
	background-color: #F2F2F2;
}

.employee-profile{
	width: 300px;
	display: inline;
	float: left;
}

.employee-profile > img{
	display: inline;
	width: 50px;
}

.employee-description{
	display: inline;
	float: right;
	width: 180px;
}

.good-guy{
	float: left;
}

.bad-guy{
	float: right;
}
